Source: mastermind-cocainev11
Section: net
Priority: extra
Maintainer: Andrey Godin <agodin@yandex-team.ru>
Build-Depends:
 debhelper (>= 8.0.0),
 bash-completion,
 python-all,
 python-setuptools,
 python-pytest,
 python-msgpack | msgpack-python,
 python-tornado (>= 4.0),
 cocaine-framework-python,
 python-simplejson,
Standards-Version: 3.9.2
Homepage: https://github.com/toshic/mastermind
Vcs-Git: git://github.com/toshic/mastermind.git
X-Python-Version: >= 2.7

Package: mastermind-cocainev11
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 cocaine-framework-python (<< 0.12),
 python-tornado (>= 4.0),
 cocaine-tools (<< 0.12),
 python-pymongo (<< 3),
 python-bson (<< 3),
 cocaine-runtime (<< 0.12),
 python-requests,
 python-mastermind-cocainev11 (= ${binary:Version}),
 elliptics-client,
Conflicts:
 mastermind
Recommends:
 python-kazoo,
 yandex-yql-python,
Description: Metabalancer for elliptics storage

Package: mastermind-utils-cocainev11
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python-opster (>= 4.0),
 cocaine-framework-python (<< 0.12),
 python-msgpack | msgpack-python,
 python-tornado (>= 4.0),
 python-mastermind-cocainev11 (= ${binary:Version}),
Conflicts:
 mastermind-utils
Description: Metabalancer CLI for elliptics storage

Package: python-mastermind-cocainev11
Architecture: amd64
Section: python
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
 python-tornado (>= 4.0),
 cocaine-framework-python (<< 0.12),
 python-simplejson,
Conflicts:
 python-mastermind
Description: Common components and a client library for Mastermind

Package: mastermind-scheduler
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python-tornado (>= 4.0),
 cocaine-v12-framework-python,
 python-simplejson,
 python-mastermind (= ${binary:Version}),
 yandex-yql-python,
Description: Mastermind scheduler worker
