#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
override_dh_builddeb:
	dh_builddeb -- -Zgzip

PY_BUILD_DIR=build/python-lib

override_dh_auto_build:
	dh_auto_build -- --build-lib $(CURDIR)/$(PY_BUILD_DIR)

override_dh_auto_test:
	cd $(CURDIR)/$(PY_BUILD_DIR); python -m pytest

override_dh_auto_clean:
	rm -rf $(CURDIR)/$(PY_BUILD_DIR)
	dh_auto_clean

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp
	cd $(CURDIR)/src/cocaine-app/
	find . -type f -name \*.py -print0 | tar czvf $(CURDIR)/debian/tmp/mastermind.tar.gz --null -T -
	dh_auto_install

%:
	dh $@ --with python2,bash-completion
