#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk

pre-build::
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/mastermind/cocaine-app/
	mkdir -p $(CURDIR)/debian/tmp/usr/bin/
	cp $(CURDIR)/usr/bin/mastermind_deploy.sh $(CURDIR)/debian/tmp/usr/bin/mastermind_deploy.sh
	$(CURDIR)/make_tree.sh $(CURDIR)

install/mastermind-utils::
	dh_bash-completion
